@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: white;
  background-color: black;
}

@layer base {
  .heading-1 {
    @apply font-bold text-[72px] leading-[96px];
  }
  .heading-2 {
    @apply font-bold text-[64px] leading-[88px];
  }
  .heading-3 {
    @apply font-bold text-[48px] leading-[64px];
  }
  .heading-4 {
    @apply font-bold text-[32px] leading-[48px];
  }
  .heading-5 {
    @apply font-bold text-[24px] leading-[32px];
  }
  .heading-6 {
    @apply font-bold text-[16px] leading-[24px];
  }
  .para-lead {
    @apply font-normal text-[16px] leading-[32px];
  }
  .para-sm {
    @apply font-normal text-[14px] leading-[24px];
  }
  .para-xs {
    @apply font-normal text-[12px] leading-[24px];
  }
}

/* navbar component */
/* nav */
.active-nav {
  position: relative;
  color: #ffffff !important;
}
.active-nav::before {
  position: absolute;
  bottom: -1px;
  left: -10%;
  height: 3px;
  width: 120%;
  background-color: #b8d20b;
  content: "";
}

.underline-animation:hover {
  position: relative;
  /* padding: 3px 0; */
  color: #b8d20b;
}

/* .underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -1px;
  left: 0;
  background-color: #a8b64c;
  transform-origin: bottom right;
  transition: transform 0.1s ease-out;
}

.underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
} */

/* user */
.user-box:after {
  position: inherit;
  content: "";
  height: 0px;
  width: 0px;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #b8d20b;
}

/* hero bg */
.hero-bg-1:before,
.hero-bg-2::before {
  position: absolute;
  content: "";
  background-color: rgb(191, 191, 191);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.hero-bg-1:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-image: url("https://cdn.georgeinstitute.org/sites/default/files/styles/width1920_fallback/public/2020-10/world-food-day-2020.png");
}

.hero-bg-2::before {
  bottom: 0;
  right: -40px;
  width: 240px;
  height: 240px;
  background-image: url("https://images.unsplash.com/photo-1482049016688-2d3e1b311543?q=80&w=1910&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.hero-bg-1:after,
.hero-bg-2:after {
  position: absolute;
  background-color: black;
  content: "";
  border-radius: 10px;
  opacity: 0.1;
}
.hero-bg-1:after {
  top: 0;
  left: 0;
  height: 80%;
  width: 100%;
}
.hero-bg-2::after {
  bottom: 0;
  right: -40px;
  height: 240px;
  width: 240px;
}

@media (min-width: 767px) and (max-width: 850px) {
  .service-icons {
    padding: 12px 8px;
  }
}
@media (max-width: 767px) {
  .hero-bg-box {
    width: 100%;
  }
  .hero-bg-1:before {
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
  }

  .hero-bg-2::before {
    bottom: 0;
    right: 0px;
    width: 90%;
    height: 200px;
  }
}

/* longevityComponent style (used also about component) */
.longevity-bg {
  height: 650px;
  width: 100%;
  background-color: #95b913f0;
  /* background-image: url("./assets/nick-karvounis-Ciqxn7FE4vE-unsplash.jpg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.longevity-bg:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  content: "";
  opacity: 0.2;
}
.angle-down {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 49vw solid transparent;
  border-top: 326px solid black;
  z-index: -1;
}
.angle-up {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 49vw solid transparent;
  border-bottom: 326px solid black;
  z-index: -1;
}
/* 
this css also work for both angle up and down with this single class style by a single div
.angle-up-down {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 49vw solid transparent;
  border-bottom: 326px solid green;
  border-top: 326px solid red;
  z-index: -1;
} */
.shapeFourAngle {
  height: 650px;
  clip-path: polygon(50.5% 0, 100% 50%, 50% 100%, 0 50%);
  background: #495c2f;
  background-image: url("./assets/bg-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.shapeFourAngle::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #393839;
  content: "";
  opacity: 0.2;
}

/* CoveredImage component */
.cover-image {
  position: relative;
  height: 400px;
  width: 100%;
  background-color: lightgray;
  /* background-image: url(./assets/bg-1.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.cover-image::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  content: "";
  opacity: 0.1;
}

/* reservationCard component style */
.reservation-circle::after {
  position: absolute;
  bottom: -45px;
  right: -45px;
  height: 300px;
  width: 300px;
  content: "";
  background-color: #f97f6c;
  border-radius: 50%;
  z-index: -1;
}

/* login and registration component */
.gradient-card {
  background: rgb(47, 62, 67);
  background: linear-gradient(
    0deg,
    rgba(47, 62, 67, 1) 0%,
    rgba(26, 31, 40, 1) 100%
  );
}

/* Menu page Menus element style */
.menu-category {
  position: relative;
  transition: all 0.1s ease-in-out;
  transform: scale(1.009);
  color: white;
  /* font-weight: bold; */
}
.menu-category:after {
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 3px;
  width: 75%;
  background-color: #b8d20b;
  content: "";
}
